#Data Types and Structures Practical Questions:

In [ ]:
 #1Write a code to create a string with your name and print it:
 name="Taha"
 print(name)

Taha

In [ ]:
#2Write a code to find the length of the string "Hello World":
string="Hello World"
print(len(string))

11

In [ ]:
#3Write a code to slice the first 3 characters from the string "Python Programming"
str1="Python Programming"
str1[:3]

'Pyt'

In [ ]:
#4Write a code to convert the string "hello" to uppercase
str1="hello"
print(str1.upper())

HELLO

In [ ]:
#5Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str1="I like apple"
str1.replace("apple","orange")

'I like orange'

In [ ]:
#6Write a code to create a list with numbers 1 to 5 and print it:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7Write a code to append the number 10 to the list [1, 2, 3, 4]
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a=['a','b','c','d']
a[1]

'b'

In [ ]:
#10Write a code to reverse the list [10, 20, 30, 40, 50].
list1= [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
#12Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1= ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

In [ ]:
#13Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1= (10, 20, 5, 15)
min_tuple1=min(tuple1)
print(min_tuple1)

5

In [ ]:
#14Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple2=("dog","cat","rabbit")
tuple2.index("cat")

1

In [ ]:
#15Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple","banana","cherry","kiwi")
if "kiwi"in fruits:
 print("Yes,kiwi is in the fruits tuple")

Yes,kiwi is in the fruits tuple

In [ ]:
#16Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={"a","b","c"}
print(set1)

{'a', 'b', 'c'}

In [ ]:
#17Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [ ]:
#18Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set2={1,2,3,4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [ ]:
#19Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#20Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [ ]:
#21Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict1={"name":"Taha","age":23,"city":"Srinagar"}
print(dict1)

{'name': 'Taha', 'age': 23, 'city': 'Srinagar'}

In [ ]:
#22Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1= {'name': 'John', 'age': 25}
dict1.update({'country':'USA'})
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary= {'name': 'Alice', 'age': 30}
dictionary.get("name")

'Alice'

In [ ]:
#24Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary={'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop("age")
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dictionary ={'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
  print("Yes,city exists in the dictionary")

Yes,city exists in the dictionary

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=[1,2,3,4,True,30.9,"taha"]
tuple1=(1,2,False,0.9,3,4)
dictionary={"name":"Taha","age":23,"city":"Srinagar"}
print(list1)
print(tuple1)
print(dictionary)

[1, 2, 3, 4, True, 30.9, 'taha']
(1, 2, False, 0.9, 3, 4)
{'name': 'Taha', 'age': 23, 'city': 'Srinagar'}

In [ ]:
#27Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1=[]
for i in range(5):
  list1.append(random.randint(1,100))
list1.sort()
print(list1)

[6, 39, 92, 92, 100]

In [ ]:
#28Write a code to create a list with strings and print the element at the third index
list1=["apple","banana","cherry","kiwi"]
list1[2]

'cherry'

In [ ]:
#29Write a code to combine two dictionaries into one and print the result.
dict1={"name":"taha","age":23,"city":"srinagar"}
dict2={"sister":"umi","rollnum":27,"location":"jammu"}
dict1.update(dict2)
print(dict1)

{'name': 'taha', 'age': 23, 'city': 'srinagar', 'sister': 'umi', 'rollnum': 27, 'location': 'jammu'}

In [ ]:
#30Write a code to convert a list of strings into a set.
list1=[1,2,3,4,1,2,3]
list1=set(list1)
print(list1)

{1, 2, 3, 4}